<h1 class="text-center mt-4 view-title">HOME</h1>
<hr class="hr-divider"/>

<div class="container text-center">
  <h2>Dirigirse a:</h2>
  <a href="/api/products" class="btn btn-secondary mr-2">Products</a>
  <a href="/api/chat" class="btn btn-secondary mr-2">Chat</a>
  <a href="/api/carts" class="btn btn-secondary">Carts</a>
</div>