<h1 class="text-center mt-4">HOME</h1>
<hr class="hr-divider"/>

<div class="container text-center">
  <h2>Dirigirse a:</h2>
  <a href="/" class="btn btn-secondary mr-2"s>Home</a>
  <a href="/login" class="btn btn-secondary mr-2">Login</a>
  <a href="/register" class="btn btn-secondary mr-2">Registro</a>
  <a href="/perfil" class="btn btn-secondary">Perfil</a>
  <a href="api/sessions/logout" class="btn btn-secondary">Logout</a>
</div>