<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="display-4 text-center mt-4 text-dark">LOGIN</h1>
            <hr class="hr-divider">

            <a href="/api/sessions/github" class="btn btn-primary btn-lg d-flex flex-row justify-content-center align-items-center m-3">
                <img src="/images/logotipo-de-github.png" alt="GitHub Logo" class="github-logo"> ACCEDER CON GITHUB
            </a>



            <form action="/api/sessions/login" method="post">
     {{!--            {{#if message}} --}}
                <div id="mensaje">
       {{!--              {{message}} --}}
                </div>
       {{!--          {{/if}} --}}

                <div class="mb-3">
                    <label for="email" class="form-label">Coloque su Email:</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button type="submit" id="btnSubmit"class="btn btn-primary btn-lg">Ingresar</button>
            </form>
        </div>
    </div>
</div>


{{>menu1}}
<script src="/js/login.js"></script>